.tableContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tableContainerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  h2 {
    line-height: 22px;
    margin-right: 5px;
  }
  select {
    height: 28px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 2px solid rgba(250, 253, 124);
    margin-top: 4px;
    width: fit-content;
    margin-right: 7px;
    &focus {
      border-color: green;
    }

    option {
      background-color: rgba(231, 98, 215, 0.7);
    }
  }
}

.table {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 0 17px;
  display: flex;
  background-color: rgba(105, 200, 236, 0.8);
  border: 2px solid #ccc;
  border-radius: 5px;
  border-collapse: collapse;
}

.tableRow {
  display: flex;
  border-bottom: 1px solid #ccc;
  flex: 1;

  &:last-child {
    border-bottom: none;
  }
}

.imageCell {
  align-content: center;
  width: 50px;
  height: 50px;
}

.image {
  display: flex;
  border-radius: 5px 0 0 5px;
  border-right: 2px solid #ccc;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cell {
  display: flex;
  align-items: center;
  padding-left: 12px;
  min-width: 250px;
}

.titleCell {
  @extend .cell;
  flex: none;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.detailCell {
  @extend .cell;
  flex: 1;
}

@media screen and (max-width: 860px) {
  .image {
    display: none;
  }
}
@media screen and (max-width: 1075px) {
  .detailCell {
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
