.tableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table {
    justify-content: center;
    justify-self: center;
    margin: 0 auto 0px auto;
    display: flex;
    background-color: rgba(231, 98, 215, 0.7);
    border: 2px solid #ccc;
    border-radius: 5px;
    border-collapse: collapse;
}

.tableRow {
    display: flex;
    border-bottom: 1px solid #ccc;
    flex: 1;

    &:last-child {
        border-bottom: none;
    }
}

.imageCell {
    align-content: center;
    width: 50px;
    height: 50px;
}

.image {
    display: flex;
    border-radius: 5px 0 0 5px;
    border-right: 2px solid #ccc;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    display: flex;
    align-items: center;
    padding: 7px;
}

.titleCell {
    @extend .cell;
    width: 200px; // Fixed with of the title cells
    flex: none;
    font-weight: bold;
    padding: 7px;
    border-right: 1px solid #ccc;
}

.detailCell {
    @extend .cell;
    width: 300px;
}