.graphContent {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}

//the actual chart
.barGraph {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 7px;
    background-color: rgba(65, 180, 201, 0.3);
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 17px 7px 17px
}

//single bar container (wrapper)
.barContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 7px;
    width: 100%;
    z-index: 10;
}

.barItem {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    gap: 3px;
    height: 250px;
    align-content: center;
}

.bar {
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: fit-content;
}

.popularityLabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
    }
}

.nameLabel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 30px;
        height: 30px;
    }
    p {
        padding-left: 7px;
    }
}

@media screen and (max-width: 950px) {
    .nameLabel {
        p {
            text-align: left;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media screen and (max-width: 768px) {
    .nameLabel {
        img{
            display: none;
        }
        p {
            text-align: left;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}