.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  text-align: center;
  color: white;
  padding: 10px; 
  
  background-image: url("./assets/background/rm-background2.png");
  background-position:center;
  background-size: cover;
}
