.appContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  overflow-y: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}